<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/dist/style.css">
    </head>
    <body class="bg-slate-200">
        <div class="main flex">
            <div id="sidebar" class="bg-slate-800 max-md:hidden sticky h-screen w-64 text-white">
                <a href="#" class="text-center block py-10 text-xl">
                    QUẢN LÝ BÃI ĐỖ XE
                </a>
                <ul class="flex flex-col justify-center">
                    <li>
                        <a href="/nhanxe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/nhanxe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Nhận xe</a>
                    </li>
                    <li>
                        <a href="/phieuxe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/phieuxe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý phiếu</a>
                    </li>
                    <li>
                        <a href="/xe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/xe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý xe</a>
                    </li>
                    <li>
                        <a href="/baixe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/baixe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý bãi đỗ</a>
                    </li>
                </ul>
                <div class="text-gray-500 text-center absolute bottom-0 py-4 px-5">
                    &copy; Copyright by V-T Parking
                </div>
            </div>
        <div class="w-full">
            {% block content %}Nội dung{% endblock %}
        </div>
        </div>
    </body>
</html>