<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/dist/style.css">
    </head>
    <body class="bg-slate-200">
        <div class="main flex">
            <div id="sidebar" class="bg-slate-800 max-md:hidden sticky w-64 text-white h-screen top-0">
                <a href="#" class="text-center block py-10 text-xl">
                    QUẢN LÝ BÃI ĐỖ XE
                </a>
                <ul class="flex flex-col justify-center">
                    <li>
                        <a href="/nhanxe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/nhanxe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Nhận xe</a>
                    </li>
                    <li>
                        <a href="/phieuxe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/phieuxe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý phiếu</a>
                    </li>
                    <li>
                        <a href="/xe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/xe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý xe</a>
                    </li>
                    <li>
                        <a href="/baixe" class="block py-2 px-4 my-1 {% if req.baseUrl == "/baixe" %}bg-sky-800{% else %}hover:bg-slate-700{% endif %}">Quản lý bãi đỗ</a>
                    </li>
                </ul>
                <div class="text-gray-500 text-center absolute bottom-0 py-4 px-5">
                    &copy; Copyright by V-T Parking
                </div>
            </div>
        <div class="w-full">
            {% block content %}Nội dung{% endblock %}
        </div>
        </div>
        <div class="hidden transition-all fixed w-screen h-screen top-0 bg-red-700 bg-opacity-80 flex justify-center" id="delete-prompt">
        <div class="p-4 max-w-2xl fixed top-1/2 -translate-y-1/2 w-full">
            <div class="text-white text-4xl text-center mb-4">KHOANNNNN</div>
            <div class="text-white text-center">Xác nhận xoá</div>
            <div class="text-white text-center" id="delete-prompt-name"></div>
            <div class="text-white text-center mb-4">Thao tác này sẽ không thể hoàn tác.</div>
            <form
                action=""
                method="post"
                id="delete-form">
                <button type="submit" class="bg-white text-red-700 w-full py-2 mb-4">Chắc chắn</button>
            </form>
            <button onclick="deletePrompt.classList.add('hidden')" class="text-white border-white border-solid border w-full py-2">Huỷ thao tác xoá, trở về</button>
        </div>
    </div>
    <script src="/dist/scripts.js"></script>
    </body>
</html>